body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 50px 0;
}

nav ul {
    background-color: #00796b;
    list-style: none;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #004d40;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #00332e;
}

section {
    padding: 20px 0;
}

section img {
    max-width: 100%;
    height: auto;
}

.interests img {
    max-width: 30%;
    margin: 5px;
}

footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

